  <div class="content-container">
    <mat-tab-group>
      <!-- Tab 1: Stack technologiczny -->
      <mat-tab label="Stack technologiczny">
        <mat-card>
          <mat-card-content>
            <ul>
              <li><strong>Framework:</strong> Angular 18</li>
              <li><strong>UI components:</strong> Angular Material</li>
              <li><strong>CSS preprocessor:</strong> SCSS</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-tab>
  
      <!-- Tab 2: Opis komponentu -->
      <mat-tab label="Opis komponentu">
        <mat-card>
          <mat-card-content>
            <p>
              Komponent do ustawiania hasła składa się z dwóch pól input oraz wskaźnika siły hasła i komunikatu o zgodności haseł.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-tab>
  
      <!-- Tab 3: Funkcjonalności -->
      <mat-tab label="Funkcjonalności">
        <mat-card>
          <mat-card-content>
            <ul>
              <li><strong>Pola input:</strong>
                <ul>
                  <li>Pole do wprowadzenia hasła.</li>
                  <li>Pole do powtórzenia hasła.</li>
                </ul>
              </li>
              <li><strong>Sprawdzenie siły hasła:</strong>
                <ul>
                  <li>Słabe</li>
                  <li>Średnie</li>
                  <li>Silne</li>
                  <li>Bardzo silne</li>
                </ul>
              </li>
              <li><strong>Wymagania dotyczące hasła:</strong>
                <ul>
                  <li>Minimum jedna duża litera</li>
                  <li>Minimum jedna mała litera</li>
                  <li>Minimum jedna cyfra</li>
                  <li>Minimum jeden znak specjalny</li>
                  <li>Minimalna długość: 10 znaków</li>
                </ul>
              </li>
              <li><strong>Ocena siły hasła:</strong>
                <ul>
                  <li><strong>Słabe:</strong> Spełnia tylko 2 z powyższych wymagań</li>
                  <li><strong>Średnie:</strong> Spełnia 3 z powyższych wymagań</li>
                  <li><strong>Silne:</strong> Spełnia 4 z powyższych wymagań</li>
                  <li><strong>Bardzo silne:</strong> Spełnia wszystkie wymagania</li>
                </ul>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-tab>
  
      <!-- Tab 4: Działanie komponentu -->
      <mat-tab label="Działanie komponentu">
        <mat-card>
          <mat-card-content>
            <ul>
              <li><strong>Wprowadzenie hasła:</strong>
                <ul>
                  <li>Użytkownik wprowadza hasło w pierwszym polu.</li>
                  <li>Pod polem hasła wyświetlana jest siła hasła.</li>
                </ul>
              </li>
              <li><strong>Powtórzenie hasła:</strong>
                <ul>
                  <li>Użytkownik wprowadza powtórzenie hasła w drugim polu.</li>
                  <li>Komponent sprawdza, czy oba hasła są identyczne i wyświetla odpowiednią informację (np. "Hasła są zgodne" lub "Hasła nie są zgodne").</li>
                </ul>
              </li>
              <li><strong>Walidacja:</strong>
                <ul>
                  <li>Siła hasła jest aktualizowana na bieżąco podczas wpisywania.</li>
                  <li>Sprawdzanie zgodności haseł następuje po zakończeniu wpisywania w drugim polu.</li>
                </ul>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-tab>
  
      <!-- Tab 5: Wymagania wizualne -->
      <mat-tab label="Wymagania wizualne">
        <mat-card>
          <mat-card-content>
            <ul>
              <li><strong>Wskaźnik siły hasła:</strong>
                <ul>
                  <li>Wizualizacja siły hasła za pomocą wskaźnika takiego jak pasek postępu</li>
                </ul>
              </li>
              <li><strong>Informacje o zgodności haseł:</strong>
                <ul>
                  <li>Wyraźne i czytelne informacje o zgodności haseł.</li>
                </ul>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <!-- Tab 5: Wymagania wizualne -->
      <mat-tab label="Podsumowanie">
          <div class="content-container">
            <mat-card>
              <mat-card-content>
                <h3>Stack technologiczny</h3>
                <ul>
                  <li><strong>Framework:</strong> Angular 18</li>
                  <li><strong>UI components:</strong> Angular Material</li>
                  <li><strong>CSS preprocessor:</strong> SCSS</li>
                </ul>
          
                <h3>Opis komponentu</h3>
                <p>Komponent do ustawiania hasła składa się z dwóch pól input oraz wskaźnika siły hasła i komunikatu o zgodności haseł.</p>
          
                <h3>Funkcjonalności</h3>
                <ul>
                  <li><strong>Pola input:</strong>
                    <ul>
                      <li>Pole do wprowadzenia hasła.</li>
                      <li>Pole do powtórzenia hasła.</li>
                    </ul>
                  </li>
                  <li><strong>Sprawdzenie siły hasła:</strong>
                    <ul>
                      <li>Słabe</li>
                      <li>Średnie</li>
                      <li>Silne</li>
                      <li>Bardzo silne</li>
                    </ul>
                  </li>
                  <li><strong>Wymagania dotyczące hasła:</strong>
                    <ul>
                      <li>Minimum jedna duża litera</li>
                      <li>Minimum jedna mała litera</li>
                      <li>Minimum jedna cyfra</li>
                      <li>Minimum jeden znak specjalny</li>
                      <li>Minimalna długość: 10 znaków</li>
                    </ul>
                  </li>
                  <li><strong>Ocena siły hasła:</strong>
                    <ul>
                      <li><strong>Słabe:</strong> Spełnia tylko 2 z powyższych wymagań</li>
                      <li><strong>Średnie:</strong> Spełnia 3 z powyższych wymagań</li>
                      <li><strong>Silne:</strong> Spełnia 4 z powyższych wymagań</li>
                      <li><strong>Bardzo silne:</strong> Spełnia wszystkie wymagania</li>
                    </ul>
                  </li>
                </ul>
          
                <h3>Działanie komponentu</h3>
                <ul>
                  <li><strong>Wprowadzenie hasła:</strong>
                    <ul>
                      <li>Użytkownik wprowadza hasło w pierwszym polu.</li>
                      <li>Pod polem hasła wyświetlana jest siła hasła.</li>
                    </ul>
                  </li>
                  <li><strong>Powtórzenie hasła:</strong>
                    <ul>
                      <li>Użytkownik wprowadza powtórzenie hasła w drugim polu.</li>
                      <li>Komponent sprawdza, czy oba hasła są identyczne i wyświetla odpowiednią informację (np. "Hasła są zgodne" lub "Hasła nie są zgodne").</li>
                    </ul>
                  </li>
                  <li><strong>Walidacja:</strong>
                    <ul>
                      <li>Siła hasła jest aktualizowana na bieżąco podczas wpisywania.</li>
                      <li>Sprawdzanie zgodności haseł następuje po zakończeniu wpisywania w drugim polu.</li>
                    </ul>
                  </li>
                </ul>
          
                <h3>Wymagania wizualne</h3>
                <ul>
                  <li><strong>Wskaźnik siły hasła:</strong>
                    <ul>
                      <li>Wizualizacja siły hasła za pomocą wskaźnika takiego jak pasek postępu</li>
                    </ul>
                  </li>
                  <li><strong>Informacje o zgodności haseł:</strong>
                    <ul>
                      <li>Wyraźne i czytelne informacje o zgodności haseł.</li>
                    </ul>
                  </li>
                </ul>
              </mat-card-content>
            </mat-card>
          </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  