  <div class="layout-container">
    <div class="cards-container">
        <sf-ai-card
            iconName="chat-gpt-icon"
        >
            <mat-divider></mat-divider>
            <mat-card-content>
                <p><strong>Model: </strong>Chat GPT 4o</p>
                <p><strong>Koszt: </strong>77,33 zł (20$)</p>
                <p><strong>Przepustowość:</strong> 32k tokenów</p>
                <p><strong>API:</strong> Pełne wsparcie dla NPM, oficjalny pakiet OpenAI</p>
                <p><strong>Zastosowanie:</strong> Generowanie tekstu, analiza, pomoc w kodowaniu</p>
                <p><strong>Limit kontekstu:</strong> 8k-32k tokenów</p>
                <p><strong>Wsparcie NPM:</strong> Pełne wsparcie</p>
            </mat-card-content>
        </sf-ai-card>       
        
        <sf-ai-card
            iconName="gemini-icon"
        >
            <mat-divider></mat-divider>
          <mat-card-content>
            <p><strong>Model: </strong>Gemini Advanced 2T</p>
            <p><strong>Koszt: </strong>97,99 zł</p>
            <p><strong>Przepustowość:</strong> 100k tokenów</p>
            <p><strong>API:</strong> Nowoczesne API do NLP, brak oficjalnego wsparcia dla NPM</p>
            <p><strong>Zastosowanie:</strong> Predykcje tekstu, analiza języka naturalnego</p>
            <p><strong>Limit kontekstu:</strong> 100k tokenów</p>
            <p><strong>Wsparcie NPM:</strong> Ograniczone, wymaga adapterów</p>
          </mat-card-content>
        </sf-ai-card>
          
        <sf-ai-card
            iconName="claude-icon"
        >
          <mat-divider></mat-divider>
          <mat-card-content>
            <p><strong>Model: </strong>Claude 3.5 Sonnet</p>
            <p><strong>Koszt:</strong> 94,80 zł (22,14 EUR)</p>
            <p><strong>Przepustowość:</strong> 50k tokenów</p>
            <p><strong>API:</strong> Kompatybilne z Node.js, API REST</p>
            <p><strong>Zastosowanie:</strong> Bezpieczeństwo, złożone analizy danych</p>
            <p><strong>Limit kontekstu:</strong> 100k tokenów</p>
            <p><strong>Wsparcie NPM:</strong> Brak oficjalnego wsparcia, zewnętrzne adaptery</p>
          </mat-card-content>
        </sf-ai-card>
      </div>
  </div>
  