// password-setter.component.scss
mat-hint {
    &.Słabe {
      color: red;
    }
  
    &.Średnie {
      color: orange;
    }
  
    &.Silne {
      color: green;
    }
  
    &.Bardzo silne {
      color: darkgreen;
    }
  }