.drawer-container {
    min-height: calc(100vh - 64px);

    .drawer-content {
        padding: 16px;
    }
}

.toolbar {
    background-color: #d7e3ff;
}   

.icon {
    $logoSize: 40px;
    height: $logoSize;
    width: $logoSize;
}