<sf-ai-card
    iconName="claude-icon"
>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
  
    <mat-progress-bar
      [value]="(passwordStrength === 'Słabe' ? 25 : passwordStrength === 'Średnie' ? 50 : passwordStrength === 'Silne' ? 75 : 100)"
      [color]="getPasswordStrengthColor()">
    </mat-progress-bar>
    <p>Siła hasła: {{ passwordStrength }}</p>
  
    <mat-form-field appearance="fill">
      <mat-label>Powtórz hasło</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
    </mat-form-field>
  
    <p [ngStyle]="{'color': passwordMatch ? 'green' : 'red'}">
      {{ passwordMatch ? 'Hasła są zgodne' : 'Hasła nie są zgodne' }}
    </p>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="!passwordForm.valid || !passwordMatch">
      Ustaw hasło
    </button>
  </form>
</sf-ai-card>
