<sf-ai-card
    iconName="chat-gpt-icon"
>
<div class="password-container">
    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [(ngModel)]="password"
        (input)="evaluatePasswordStrength()"
        required
      />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ukryj lub pokaż hasło'">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  
    <mat-progress-bar
      *ngIf="password"
      [value]="passwordStrengthValue"
      [color]="passwordStrengthColor"
      mode="determinate"
    ></mat-progress-bar>
    <p class="strength-text">{{ passwordStrengthMessage }}</p>
  
    <mat-form-field appearance="fill">
      <mat-label>Powtórz hasło</mat-label>
      <input
        matInput
        [type]="hideRepeat ? 'password' : 'text'"
        [(ngModel)]="confirmPassword"
        (input)="checkPasswordMatch()"
        required
      />
      <button mat-icon-button matSuffix (click)="hideRepeat = !hideRepeat" [attr.aria-label]="'Ukryj lub pokaż hasło'">
        <mat-icon>{{ hideRepeat ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  
    <p class="match-message">{{ passwordMatchMessage }}</p>
  </div>  
</sf-ai-card>
