<mat-nav-list class="nav-list" role="navigation">
    <a routerLinkActive="is-active" mat-list-item [routerLink]="['/compatitors']">Porównanie czatów</a>
    <a routerLinkActive="is-active" mat-list-item [routerLink]="['/task']">Zadanie</a>
    <a routerLinkActive="is-active" mat-list-item [routerLink]="['/score-criterias']">Kryteria ocen</a>
    <a routerLinkActive="is-active" mat-list-item [routerLink]="['/overview']">Komponenty AI - zbiorczy</a>
    <a routerLinkActive="is-active" mat-list-item [routerLink]="['/overview-single']">Komponenty AI - pojedyńczy</a>
    <a routerLinkActive="is-active" mat-list-item [routerLink]="['/score']">Punktacja</a>
</mat-nav-list>